.pagination>li>a, .pagination>li>span 
{ 
    border-radius: 50% !important;
    margin: 0 5px;
    background: rgba(0,0,0,0);
}

.pagination li a:hover
{
    background:rgba(0,0,0,0.2);
    
}